{% extends 'MyInventoryApp/base.html' %}
{% load static %}

{% block sidebar %}
<ul>
    <li>
        <a href="/" style="text-decoration: none; color: black;">Back to main</a>
    </li>
</ul>
{% endblock %}

{% block content %}
<form>
    <div class="card" style="max-width: 800px;">
        <div class="card-header">
            <h5>Type in Bottle Details</h5>
        </div>

        <div class="col">
            <label>
                SKU:
            </label>
            <input type="text" class="form-control" maxlength="3">
        </div>

        <div class="col">
            <label>
                Brand:
            </label>
            <input type="text" class="form-control">
        </div>

        <div class="col">
            <label>
                Cost:
            </label>
            <input type="text" class="form-control" style="max-width: 200px;">
        </div>

        <div class="col">
            <label>
                Size:
            </label>
            <input type="text" class="form-control" maxlength="3">
        </div>

        <div class="col">
            <label>
                Mouth Size:
            </label>
            <input type="text" class="form-control">
        </div>

        <div class="col">
            <label>
                Color:
            </label>
            <input type="text" class="form-control" style="max-width: 200px;">
        </div>

        <div class="col">
            <label>
                Supplier:
            </label>
            <input type="text" class="form-control" style="max-width: 200px;">
        </div>

        <div class="p-3 pb-5">
            <button class="btn btn-primary">
                Submit
            </button>
        </div>

    </div>
</form>
{% endblock %}